<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiehuihui.admin.mapper.city.CityRegionListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiehuihui.common.entity.city.ProvinceVO">
        <result column="pid" property="id"/>
        <result column="provincename" property="cityregionname" />
        <result column="ptypeid" property="cityregiontype" />
        <result column="psortnum" property="sortnum" />
        <result column="pstate" property="state" />
        <collection property="children" ofType="com.jiehuihui.common.entity.city.CityVO">
            <result column="cid" property="id" />
            <result column="provincename" property="cityregionsuper" />
            <result column="cityname" property="cityregionname" />
            <result column="ctypeid" property="cityregiontype" />
            <result column="csortnum" property="sortnum" />
            <result column="cstate" property="state" />
            <collection property="children" ofType="com.jiehuihui.common.entity.city.AreaVO">
                <result column="aid" property="id" />
                <result column="cityname" property="cityregionsuper" />
                <result column="areaname" property="cityregionname" />
                <result column="atypeid" property="cityregiontype" />
                <result column="asortnum" property="sortnum" />
                <result column="astate" property="state" />
            </collection>
        </collection>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="parentResultMap" type="com.jiehuihui.common.entity.city.ProvinceVO">
        <result column="pid" property="id" />
        <result column="provincename" property="cityregionname" />
        <result column="ptypeid" property="cityregiontype" />
        <result column="psortnum" property="sortnum" />
        <result column="pstate" property="state" />
        <collection property="children" ofType="com.jiehuihui.common.entity.city.CityVO">
            <result column="ccid" property="id" />
            <result column="provincename" property="cityregionsuper" />
            <result column="cityname" property="cityregionname" />
            <result column="ctypeid" property="cityregiontype" />
            <result column="csortnum" property="sortnum" />
            <result column="cstate" property="state" />
        </collection>
    </resultMap>

    <select id="getCityListCount" resultType="int">
        SELECT
            COUNT(p.id)
        FROM
            jhh_base_province p
            LEFT JOIN jhh_base_cityzhong z ON p.id = z.provinceid
            LEFT JOIN jhh_base_city c ON c.id = z.cityid
            LEFT JOIN jhh_base_area a ON a.id = z.areaid
        ${ew.customSqlSegment}
    </select>

    <select id="getCityListPage" resultMap="BaseResultMap">
        SELECT
            p.id AS pid,
            p.provincename,
            p.typeid AS ptypeid,
            p.sortnum AS psortnum,
            p.ssid AS pssid,
            p.state AS pstate,
            c.id AS cid,
            c.cityname,
            c.typeid AS ctypeid,
            c.cityfirst AS ccityfirst,
            c.sortnum AS csortnum,
            c.ssid AS cssid,
            c.state AS cstate,
            a.id AS aid,
            a.areaname,
            a.typeid AS atypeid,
            a.sortnum AS asortnum,
            a.ssid AS assid,
            a.state AS astate
        FROM
            jhh_base_province p
            LEFT JOIN jhh_base_cityzhong z ON p.id = z.provinceid
            LEFT JOIN jhh_base_city c ON c.id = z.cityid
            LEFT JOIN jhh_base_area a ON a.id = z.areaid
        ${ew.customSqlSegment}

    </select>


    <select id="getCityParentList" resultMap="parentResultMap">
        SELECT
            p.id AS pid,
            p.provincename,
            p.typeid AS ptypeid,
            p.sortnum AS psortnum,
            p.ssid AS pssid,
            p.state AS pstate,
            c.id AS ccid,
            c.cityname,
            c.typeid AS ctypeid,
            c.cityfirst AS ccityfirst,
            c.sortnum AS csortnum,
            c.ssid AS cssid,
            c.state AS cstate
        FROM
            jhh_base_province p
            LEFT JOIN jhh_base_cityzhong z ON p.id = z.provinceid
            LEFT JOIN jhh_base_city c ON c.id = z.cityid

    </select>

</mapper>
